<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="illustrationCanvasWidth" value="600"/>
    <add key="illustrationCanvasHeigth" value="600"/>
    <add key="serchAreaLeftBorder" value="0"/>
    <add key="serchAreaRightBorder" value="10"/>
    <add key="serchAreaBottomBorder" value="0"/>
    <add key="serchAreaTopBorder" value="10"/>
    <add key="cyclesCount" value="100"/>
  </appSettings>
</configuration>